h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bg-pink{
	background-color:pink;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
#select{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#data{
    display: flex;
    flex-direction: column;
}
#data div{
    padding: 10px;
}
